<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<script src="vue.js"></script>-->
    <script src="vue1.js"></script>
</head>
</head>
<body>
    <div id="app">
        <input type="text" v-model="num1"  number>
        <input type="text" v-model="num2" number>
        <p v-html="num3"></p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: 2,
                num2: 3,
            },
            computed: {
                num3() {
                    return this.num1 + this.num2
                }
            }
        })
    </script>
</body>
</html>