<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<script src="../node_modules/vue/dist/vue.min.js"></script>-->
    <script src="../node_modules/vue/dist/vue1.min.js"></script>
</head>
<body>
    <div id="app">
        <div>parent component: <input type="text" v-model="msg"><br></div>
        <my-bind :msg.sync="msg"></my-bind>
    </div>
    <script>
        Vue.component('my-bind', {
            props: ['msg'],
            template: `<div>child component <input v-model="msg"></div>`
        })

        new Vue({
            el: '#app',
            data: {
                msg: ''
            }
        })
    </script>
</body>
</html>