@charset "utf-8";
#box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background: #000;
}

.a {
    color: rgb(255, 0, 0);
}

.b {
    background: rgba(203, 29, 29, 0.47);
}

.c {
    text-decoration: underline;
}

.d {
    text-indent: 2em;
}

#testBox {
    filter: alpha(opacity(30));
    opacity: 0.3;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 999;
    background: #40BDA9;
    top: 300px;
    left: 500px;
}


/* 博客的下拉菜单样式演示 */

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 60px;
    max-width: 1400px;
    min-width: 1000px;
    background: #ccc;
}

#head {
    position: relative;
    width: 100px;
    height: 60px;
    float: right;
    margin-right: 200px;
    line-height: 60px;
    text-align: center;
    background: rgba(53, 122, 193, 0.40);
}

#aUl {
    position: absolute;
    left: 40px;
    top: 60px;
    display: none;
}